.header {
    background-color: #0E0E10;
    margin-top: $nav-strip-height;
  &.index-page {
    height: calc(100vh - #{$nav-strip-height});
  }
  .product-header {
    padding: 50px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title {
      @include text-format(40px, 45px, 700, #fff, center);
      margin-bottom: 25px;
    }
    &-description {
      max-width: 500px;
      @include text-format(18px, 28px, 400, #fff, center);
    }
  }
  .nav-strip {
    color: #fff;
    position: fixed;
    z-index: 999;
    padding: 20px 0;
    height: $nav-strip-height;
    background: $header-strip-background;
    top: 0;
    left: 0;
    right: 0;
    .wrapper {
      display: flex;
      justify-content: space-between;
    }
    .logo {
      margin-right: 65px;
    }
    .nav{
      flex-grow: 1;
      .nav-list {
        display: flex;
        list-style: none;
        li {
          margin-right: 20px;
        }
      }
    }
    .nav-user {
      display: flex;
      span {
        margin-right: 10px;
      }
    }
  }
  .header-content {
    padding-bottom: 30px;
    height: 100%;
    .header-main-image {
      position: relative;
      height: 100%;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
      .logo-image-box {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          object-fit: contain;
        }
        .logo-title {
          text-transform: uppercase;
          font-size: 1.3em;
          color: #fff;
          margin-top: 15px;
          letter-spacing: 5px;
        }
      }
    }
  }
}
